.user {
  font-size: 1.5rem;
  margin-left: 15%;
  text-align: center;
}

.name {
  color: rgb(181, 255, 151);
  font-weight: 900;
}

.data {
  text-align: center;
  margin-bottom: 10%;
  font-size: 3rem;
  font-weight: 700;
  color: rgb(181, 255, 151);
}

.data__user {
  color: rgb(255, 255, 255);
}

.selector_title {
  text-align: center;
  margin-top: 5%;
  color: rgb(175, 174, 171);
}

.selector {
  margin-top: 2%;
  margin-left: 9%;
  display: flex;
  width: 80%;
  height: 430px;
}

.selector img {
  width: 0px;
  flex-grow: 1;
  object-fit: cover;
  transition: 0.5s ease;
  filter: grayscale(100%) opacity(60%);
}

.selector img:hover {
  cursor: pointer;
  width: 300px;
  filter: none;
}

.rotate-scale-up-horizontal {
  animation: rotate-scale-up-horizontal 1s linear both;
}
@keyframes rotate-scale-up-horizontal {
  0% {
    transform: scale(1) rotateX(0);
  }
  50% {
    transform: scale(2) rotateX(-180deg);
  }
  100% {
    transform: scale(1) rotateX(-360deg);
  }
}
