<section class="container mt-3 ">
    <h1 class="name text-center text-uppercase">{{oneUser?.first_name}}
        {{oneUser.last_name}}</h1>
    <div class="mt-5 d-flex align-items-center">
        <div class="flex-shrink-0">
            <img src="{{oneUser.image}}" alt="{{oneUser?.username}}"
                class="img-fluid rounded border border-warning border-4 shadow rotate-scale-up-horizontal">
        </div>

        <div class="user flex-grow-1">
            <p class="data">DATOS</p>
            <p class="data__user"><strong>Nombre de usuario:</strong> {{oneUser.username}}</p>
            <p class="data__user"><strong>Email:</strong> {{oneUser.email}}</p>

            <div class="container mt-5">
                <button class="btn btn-outline-danger border-2" (click)="deleteUser(oneUser._id)">Borrar
                    <svg xmlns="http://www.w3.org/2000/svg" width="36" height="36" fill="currentColor"
                        class="bi bi-trash3-fill ms-5" viewBox="0 0 16 16">
                        <path
                            d="M11 1.5v1h3.5a.5.5 0 0 1 0 1h-.538l-.853 10.66A2 2 0 0 1 11.115 16h-6.23a2 2 0 0 1-1.994-1.84L2.038 3.5H1.5a.5.5 0 0 1 0-1H5v-1A1.5 1.5 0 0 1 6.5 0h3A1.5 1.5 0 0 1 11 1.5Zm-5 0v1h4v-1a.5.5 0 0 0-.5-.5h-3a.5.5 0 0 0-.5.5ZM4.5 5.029l.5 8.5a.5.5 0 1 0 .998-.06l-.5-8.5a.5.5 0 1 0-.998.06Zm6.53-.528a.5.5 0 0 0-.528.47l-.5 8.5a.5.5 0 0 0 .998.058l.5-8.5a.5.5 0 0 0-.47-.528ZM8 4.5a.5.5 0 0 0-.5.5v8.5a.5.5 0 0 0 1 0V5a.5.5 0 0 0-.5-.5Z" />
                    </svg>
                </button>

                <button class="btn btn-outline-warning border-2 ms-3 me-3">Actualizar
                    <svg xmlns="http://www.w3.org/2000/svg" width="36" height="36" fill="currentColor"
                        class="bi bi-arrow-clockwise ms-4" viewBox="0 0 16 16">
                        <path fill-rule="evenodd" d="M8 3a5 5 0 1 0 4.546 2.914.5.5 0 0 1 .908-.417A6 6 0 1 1 8 2v1z" />
                        <path
                            d="M8 4.466V.534a.25.25 0 0 1 .41-.192l2.36 1.966c.12.1.12.284 0 .384L8.41 4.658A.25.25 0 0 1 8 4.466z" />
                    </svg>
                </button>

                <button class="btn btn-outline-light border-2" [routerLink]="['/home']">
                    Volver a listado
                    <svg xmlns="http://www.w3.org/2000/svg" width="35" height="35" fill="currentColor"
                        class="bi bi-arrow-return-left ms-3" viewBox="0 0 16 16">
                        <path fill-rule="evenodd"
                            d="M14.5 1.5a.5.5 0 0 1 .5.5v4.8a2.5 2.5 0 0 1-2.5 2.5H2.707l3.347 3.346a.5.5 0 0 1-.708.708l-4.2-4.2a.5.5 0 0 1 0-.708l4-4a.5.5 0 1 1 .708.708L2.707 8.3H12.5A1.5 1.5 0 0 0 14 6.8V2a.5.5 0 0 1 .5-.5z" />
                    </svg>
                </button>
            </div>
        </div>
    </div>

</section>

<div class="selector">
    <img src="https://i.pravatar.cc/500?u=norma.torresnevarez@peticiones.online" alt=""
        [routerLink]="['/viewuser', '63740fede2c75d8744f80a4a']">
    <img src="https://i.pravatar.cc/500?u=graciela.ponceabeyta@peticiones.online" alt=""
        [routerLink]="['/viewuser', '63740fede2c75d8744f80a4c']">
    <img src="https://i.pravatar.cc/500?u=rosa.polancomelgar@peticiones.online" alt=""
        [routerLink]="['/viewuser', '63740fede2c75d8744f80a4d']">
    <img src="https://i.pravatar.cc/500?u=emilio.alvaduran@peticiones.online" alt=""
        [routerLink]="['/viewuser', '63740fede2c75d8744f80a42']">
    <img src="https://i.pravatar.cc/500?u=debora.bandaalcala@peticiones.online" alt=""
        [routerLink]="['/viewuser', '63740fede2c75d8744f80a45']">
    <img src="https://i.pravatar.cc/500?u=armando.pereasedillo@peticiones.online" alt=""
        [routerLink]="['/viewuser', '63740fede2c75d8744f80a43']">
    <img src="https://i.pravatar.cc/500?u=gonzalo.alvarezotero@peticiones.online" alt=""
        [routerLink]="['/viewuser', '63740fede2c75d8744f80a49']">
    <img src="https://i.pravatar.cc/500?u=raul.ibarraechevarria@peticiones.online" alt=""
        [routerLink]="['/viewuser', '63740fede2c75d8744f80a48']">
    <img src="https://i.pravatar.cc/500?u=ernesto.alanizcorral@peticiones.online" alt=""
        [routerLink]="['/viewuser', '63740fede2c75d8744f80a4b']">
    <img src="https://i.pravatar.cc/500?u=clemente.alonzomayorga@peticiones.online" alt=""
        [routerLink]="['/viewuser', '63740fede2c75d8744f80a3f']">
    <img src="https://i.pravatar.cc/500?u=mariadelcarmen.herreravillanueva@peticiones.online" alt=""
        [routerLink]="['/viewuser', '63740fede2c75d8744f80a40']">
    <img src="https://i.pravatar.cc/500?u=marisol.venegasjurado@peticiones.online" alt=""
        [routerLink]="['/viewuser', '63740fede2c75d8744f80a41']">
    <img src="https://i.pravatar.cc/500?u=daniela.griegosolorio@peticiones.online" alt=""
        [routerLink]="['/viewuser', '63740fede2c75d8744f80a44']">
    <img src="https://i.pravatar.cc/500?u=mario.mejiaburgos@peticiones.online" alt=""
        [routerLink]="['/viewuser', '63740fede2c75d8744f80a46']">
    <img src="https://i.pravatar.cc/500?u=josemaria.zapatabravo@peticiones.online" alt=""
        [routerLink]="['/viewuser', '63740fede2c75d8744f80a47']">

</div>