<section class="container mt-4">

    <form class="form-floating" [formGroup]="userForm" (ngSubmit)="getDataForm()">

        <div class="form-floating mb-4">
            <input type="text" id="name" class="form-control" formControlName="name">
            <label for="name">Nombre Usuario</label>
            <p class="error" *ngIf="checkControl('name', 'minlength')">Debe contener minimo 3 caracteres</p>
            <p class="error" *ngIf="checkControl('name', 'required')">Debe rellenar este campo</p>
        </div>

        <div class="form-floating mb-4">
            <input type="text" class="form-control" id="lastName" formControlName="lastName">
            <label for="lastName">Apellido Usuario</label>
            <p class="error" *ngIf="checkControl('lastName', 'minlength')">Debe contener minimo 3 caracteres</p>
            <p class="error" *ngIf="checkControl('lastName', 'required')">Debe rellenar este campo</p>

        </div>

        <div class="form-floating mb-4">
            <input type="email" class="form-control" id="email" formControlName="email">
            <label for="email">Email Usuario</label>
            <p class="error" *ngIf="checkControl('email', 'pattern')">El email no es válido</p>
            <p class="error" *ngIf="checkControl('email', 'required')">Debe rellenar este campo</p>
        </div>


        <div class="form-floating mb-4">
            <input type="text" class="form-control" id="image" formControlName="image">
            <label for="image">Imagen Usuario</label>

            <p class="error" *ngIf="checkControl('image', 'pattern')">El email no es válido</p>
            <p class="error" *ngIf="checkControl('image', 'required')">Debe rellenar este campo</p>
        </div>

        <div class="form-floating mb-4">
            <input type="password" class="form-control" id="password" formControlName="password">
            <label for="password">Contraseña</label>
            <p class="error" *ngIf="checkControl('password', 'pattern')">La contraseña debe estar compuesta entre 4 y 10
                caracteres, empezar por una letra y usar solo letras, numeros y guion bajo.</p>
            <p class="error" *ngIf="checkControl('password', 'required')">Debe rellenar este campo.</p>
        </div>

        <input type="submit" class="btn btn-outline-info border-2" [disabled]="!userForm.valid"
            [value]="getSubmitButtonText()">


        <img src="https://cdn.kibrispdr.org/data/781/phoenix-logo-png-2.png" alt="Logo" width="430" height="300"
            class=" logo" [routerLink]="['/home']">

    </form>


</section>